In [1]:
import pandas as pd
import numpy as np

items_raw = pd.read_csv('/root/shared/sales/items.csv')
train_raw = pd.read_csv('/root/shared/sales/sales_train_v2.csv')
shops_raw = pd.read_csv('/root/shared/sales/shops.csv')
categories_raw = pd.read_csv('/root/shared/sales/item_categories.csv')

In [42]:
import datetime
import math
def time2vec(timeStr):
    day = datetime.datetime.strptime(timeStr, '%d.%m.%Y').timetuple().tm_yday
    cos = math.cos(day/365*math.pi*2)
    sin = math.sin(day/365*math.pi*2)
    return np.array([sin, cos])

In [4]:
unique_dates_raw = train_raw['date'].unique()

In [6]:
unique_dates_sorted = []
for i in unique_dates_raw:
    unique_dates_sorted.append(i[8:10]+i[3:5]+i[0:2])

In [9]:
unique_dates_sorted.sort()

In [13]:
i=unique_dates_sorted[0]
print(i)
i[4:6]+'.'+i[2:4]+'.20'+i[0:2]

130101

'01.01.2013'

In [31]:
dates_clean = []
for i in unique_dates_sorted:
    dates_clean.append(i[4:6]+'.'+i[2:4]+'.20'+i[0:2])

In [37]:
dates = pd.DataFrame(dates_clean)
dates['sin'] = dates[0]
dates['cos'] = dates[0]
dates.columns = ['date','sin','cos']
dates

            date         sin         cos
0     01.01.2013  01.01.2013  01.01.2013
1     02.01.2013  02.01.2013  02.01.2013
2     03.01.2013  03.01.2013  03.01.2013
3     04.01.2013  04.01.2013  04.01.2013
4     05.01.2013  05.01.2013  05.01.2013
5     06.01.2013  06.01.2013  06.01.2013
6     07.01.2013  07.01.2013  07.01.2013
7     08.01.2013  08.01.2013  08.01.2013
8     09.01.2013  09.01.2013  09.01.2013
9     10.01.2013  10.01.2013  10.01.2013
10    11.01.2013  11.01.2013  11.01.2013
11    12.01.2013  12.01.2013  12.01.2013
12    13.01.2013  13.01.2013  13.01.2013
13    14.01.2013  14.01.2013  14.01.2013
14    15.01.2013  15.01.2013  15.01.2013
15    16.01.2013  16.01.2013  16.01.2013
16    17.01.2013  17.01.2013  17.01.2013
17    18.01.2013  18.01.2013  18.01.2013
18    19.01.2013  19.01.2013  19.01.2013
19    20.01.2013  20.01.2013  20.01.2013
20    21.01.2013  21.01.2013  21.01.2013
21    22.01.2013  22.01.2013  22.01.2013
22    23.01.2013  23.01.2013  23.01.2013
23    24.01.2013  24.01.2013  24.01.2013
24    25.01.2013  25.01.2013  25.01.2013
25    26.01.2013  26.01.2013  26.01.2013
26    27.01.2013  27.01.2013  27.01.2013
27    28.01.2013  28.01.2013  28.01.2013
28    29.01.2013  29.01.2013  29.01.2013
29    30.01.2013  30.01.2013  30.01.2013
...          ...         ...         ...
1004  02.10.2015  02.10.2015  02.10.2015
1005  03.10.2015  03.10.2015  03.10.2015
1006  04.10.2015  04.10.2015  04.10.2015
1007  05.10.2015  05.10.2015  05.10.2015
1008  06.10.2015  06.10.2015  06.10.2015
1009  07.10.2015  07.10.2015  07.10.2015
1010  08.10.2015  08.10.2015  08.10.2015
1011  09.10.2015  09.10.2015  09.10.2015
1012  10.10.2015  10.10.2015  10.10.2015
1013  11.10.2015  11.10.2015  11.10.2015
1014  12.10.2015  12.10.2015  12.10.2015
1015  13.10.2015  13.10.2015  13.10.2015
1016  14.10.2015  14.10.2015  14.10.2015
1017  15.10.2015  15.10.2015  15.10.2015
1018  16.10.2015  16.10.2015  16.10.2015
1019  17.10.2015  17.10.2015  17.10.2015
1020  18.10.2015  18.10.2015  18.10.2015
1021  19.10.2015  19.10.2015  19.10.2015
1022  20.10.2015  20.10.2015  20.10.2015
1023  21.10.2015  21.10.2015  21.10.2015
1024  22.10.2015  22.10.2015  22.10.2015
1025  23.10.2015  23.10.2015  23.10.2015
1026  24.10.2015  24.10.2015  24.10.2015
1027  25.10.2015  25.10.2015  25.10.2015
1028  26.10.2015  26.10.2015  26.10.2015
1029  27.10.2015  27.10.2015  27.10.2015
1030  28.10.2015  28.10.2015  28.10.2015
1031  29.10.2015  29.10.2015  29.10.2015
1032  30.10.2015  30.10.2015  30.10.2015
1033  31.10.2015  31.10.2015  31.10.2015

[1034 rows x 3 columns]

In [44]:
sin, cos = time2vec(dates.at[1,'sin'])

In [51]:
dates.loc[1,'sin']

'02.01.2013'

In [53]:
for i,v in enumerate(dates['date']):
    sin, cos = time2vec(v)
    dates.at[i,'sin'] = sin
    dates.at[i,'cos'] = cos
dates

            date        sin        cos
0     01.01.2013  0.0172134   0.999852
1     02.01.2013  0.0344216   0.999407
2     03.01.2013  0.0516197   0.998667
3     04.01.2013  0.0688024    0.99763
4     05.01.2013  0.0859648   0.996298
5     06.01.2013   0.103102   0.994671
6     07.01.2013   0.120208   0.992749
7     08.01.2013   0.137279   0.990532
8     09.01.2013   0.154309   0.988023
9     10.01.2013   0.171293    0.98522
10    11.01.2013   0.188227   0.982126
11    12.01.2013   0.205104    0.97874
12    13.01.2013   0.221922   0.975065
13    14.01.2013   0.238673     0.9711
14    15.01.2013   0.255353   0.966848
15    16.01.2013   0.271958   0.962309
16    17.01.2013   0.288482   0.957485
17    18.01.2013   0.304921   0.952378
18    19.01.2013    0.32127   0.946988
19    20.01.2013   0.337523   0.941317
20    21.01.2013   0.353676   0.935368
21    22.01.2013   0.369725   0.929141
22    23.01.2013   0.385663    0.92264
23    24.01.2013   0.401488   0.915864
24    25.01.2013   0.417194   0.908818
25    26.01.2013   0.432776   0.901502
26    27.01.2013   0.448229   0.893919
27    28.01.2013    0.46355   0.886071
28    29.01.2013   0.478734    0.87796
29    30.01.2013   0.493776   0.869589
...          ...        ...        ...
1004  02.10.2015  -0.999769  0.0215161
1005  03.10.2015   -0.99925  0.0387223
1006  04.10.2015  -0.998435   0.055917
1007  05.10.2015  -0.997325  0.0730951
1008  06.10.2015  -0.995919  0.0902516
1009  07.10.2015  -0.994218   0.107381
1010  08.10.2015  -0.992222   0.124479
1011  09.10.2015  -0.989932    0.14154
1012  10.10.2015  -0.987349   0.158559
1013  11.10.2015  -0.984474   0.175531
1014  12.10.2015  -0.981306   0.192452
1015  13.10.2015  -0.977848   0.209315
1016  14.10.2015    -0.9741   0.226116
1017  15.10.2015  -0.970064    0.24285
1018  16.10.2015   -0.96574   0.259512
1019  17.10.2015   -0.96113   0.276097
1020  18.10.2015  -0.956235     0.2926
1021  19.10.2015  -0.951057   0.309017
1022  20.10.2015  -0.945596   0.325342
1023  21.10.2015  -0.939856   0.341571
1024  22.10.2015  -0.933837   0.357698
1025  23.10.2015  -0.927542    0.37372
1026  24.10.2015  -0.920971    0.38963
1027  25.10.2015  -0.914128   0.405426
1028  26.10.2015  -0.907014   0.421101
1029  27.10.2015  -0.899631   0.436651
1030  28.10.2015  -0.891981   0.452072
1031  29.10.2015  -0.884068   0.467359
1032  30.10.2015  -0.875892   0.482508
1033  31.10.2015  -0.867456   0.497513

[1034 rows x 3 columns]

In [59]:
labels = np.zeros((len(dates),len(items_raw)))
labels.shape

(1034, 22170)

In [69]:
shuffle_rule = []
for i in range(labels.shape[0]):
    arr = np.arange(labels.shape[1])
    np.random.shuffle(arr)
    shuffle_rule.append(arr)

shuffle_rule = np.array(main)
shuffle_rule

array([[11112,  5275, 14984, ...,  6997, 13345,  2284],
       [ 1757, 18550,  3563, ...,   137, 17350,  3992],
       [ 3639, 14119,   497, ..., 14276, 20332, 12367],
       ...,
       [21529,  4649,  6450, ..., 12387,  4406, 21695],
       [11243,  8557,  8501, ...,  3367, 14009,    98],
       [ 2623, 10624, 12126, ..., 14524, 20007,  8128]])

////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////// MAIN ////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////////////

In [70]:
for i, v in train_raw.iterrows():

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
5,10.01.2013,0,25,2564,349.00,1.0
6,02.01.2013,0,25,2565,549.00,1.0
7,04.01.2013,0,25,2572,239.00,1.0
8,11.01.2013,0,25,2572,299.00,1.0
9,03.01.2013,0,25,2573,299.00,3.0
10,03.01.2013,0,25,2574,399.00,2.0
11,05.01.2013,0,25,2574,399.00,1.0
12,07.01.2013,0,25,2574,399.00,1.0
13,08.01.2013,0,25,2574,399.00,2.0
14,10.01.2013,0,25,2574,399.00,1.0
15,11.01.2013,0,25,2574,399.00,2.0
16,13.01.2013,0,25,2574,399.00,1.0
17,16.01.2013,0,25,2574,399.00,1.0
18,26.01.2013,0,25,2574,399.00,1.0
19,27.01.2013,0,25,2574,399.00,1.0
20,09.01.2013,0,25,2593,279.00,1.0
21,16.01.2013,0,25,2604,299.00,1.0
22,27.01.2013,0,25,2604,299.00,1.0
23,27.01.2013,0,25,2607,279.00,1.0
24,29.01.2013,0,25,2607,279.00,1.0
25,27.01.2013,0,25,2609,1699.00,1.0
26,06.01.2013,0,25,2548,1708.95,1.0
27,26.01.2013,0,25,2611,299.00,1.0
28,02.01.2013,0,25,2546,299.00,1.0
29,06.01.2013,0,25,2515,1649.00,1.0
...,...,...,...,...,...,...
2935819,16.10.2015,33,25,7789,1799.00,1.0
2935820,22.10.2015,33,25,7790,799.00,1.0
2935821,22.10.2015,33,25,7791,899.50,1.0
2935822,17.10.2015,33,25,7632,2310.00,1.0
2935823,26.10.2015,33,25,7487,299.00,1.0
2935824,14.10.2015,33,25,7029,999.00,1.0
2935825,23.10.2015,33,25,7460,299.00,1.0
2935826,04.10.2015,33,25,7233,599.00,1.0
2935827,18.10.2015,33,25,7308,349.00,1.0
2935828,21.10.2015,33,25,7233,479.00,1.0
2935829,03.10.2015,33,25,7233,599.00,1.0
2935830,11.10.2015,33,25,7286,299.00,1.0
2935831,22.10.2015,33,25,7187,299.00,1.0
2935832,26.10.2015,33,25,7484,299.00,1.0
2935833,22.10.2015,33,25,7308,349.00,1.0
2935834,29.10.2015,33,25,7235,298.00,1.0
2935835,18.10.2015,33,25,7327,349.00,1.0
2935836,22.10.2015,33,25,7327,349.00,1.0
2935837,24.10.2015,33,25,7328,249.00,1.0
2935838,17.10.2015,33,25,7338,349.00,1.0
2935839,24.10.2015,33,25,7315,399.00,1.0
2935840,31.10.2015,33,25,7409,299.00,1.0
2935841,11.10.2015,33,25,7393,349.00,1.0
2935842,10.10.2015,33,25,7384,749.00,1.0
2935843,09.10.2015,33,25,7409,299.00,1.0
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0